body {
    --ico-check: url(../../images/com/svg/ico_check.svg);
}


/*---------------------------------------------
	#인풋 기본 스타일
---------------------------------------------*/
textarea,
input.form-control { transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; border-radius: 0; -moz-border-radius: 0;-webkit-border-radius: 0; }
textarea { width:100%; height:240px; resize:none; white-space:pre-line; line-height:1.188rem; color:var(--inactive); border:1px solid var(--border-inactive); background-color: var(--bg-color-f);  }
input.form-control { padding:0 16px; height:46px; line-height:1.188rem; color:var(--inactive); border:1px solid var(--border-inactive); background-color: var(--bg-color-f); }
input.amount-num { padding:0 32px 0 16px; }
textarea::placeholder,
input.form-control::placeholder { color:var(--inactive); }
input.form-control::-moz-placeholder,
input.form-control::-ms-input-placeholder { color:var(--inactive); }
textarea:focus,
input.form-control:focus { border-color:var(--active); color:var(--active); }
input.form-control:disabled,
input.form-control:read-only  { background: var(--bg-color-secondary); color:var(--inactive); }
.form-group > label {  font-size:var(--font14); color:var(--txt-color-6); }

/* 유효성 검사 */
/* 기본 스타일: 유효한 상태 */
input.form-control:valid,
.form-group.user-valid input.form-control { color: var(--active); }
/* 유효하지 않은 상태 */
.form-group.user-invalid input.form-control { color: var(--error); border:1px solid var(--error);}
/* 유효할 때, valid 메시지 표시 (인접 형제 선택자 사용) */
.form-group.user-valid .valid  { display: inline-block; }
/* 유효하지 않을 때, 바로 다음 형제인 error 메시지 표시 */
.form-group.user-invalid .error { display: block; }
/* valid, error 메시지 기본 숨김 처리 */
.valid {display: none;color: green; }
.error {display: none;color: var(--error); }
.form-group { position:relative; }
.valid { position:absolute; right:15px; top:50%; }
.error { padding-left:24px; margin-top:5px; line-height:20px; font-size:var(--font14); }
.error::before { content:'!'; position: absolute; left:0;  width:18px; height:18px; text-align: center; font-size:var(--font14); color:var(--bg-color-f);  background-color:var(--error); border-radius:50%; }

/*---------------------------------------------
	#인풋 마진
---------------------------------------------*/
.form-group > label { display:inline-block; margin-bottom:10px; }


/*---------------------------------------------
	#인풋 라디오/체크박스
---------------------------------------------*/
ul.radio-box,
ul.check-box { display:flex; flex-wrap:wrap; gap:10px; }

ul.radio-box input[type="radio"] ,
ul.check-box input[type="checkbox"] { position: relative; width:24px; height:24px; }

ul.check-box li > label,
ul.radio-box li > label { line-height:30px; }

ul.radio-box input[type="radio"] + label,
ul.check-box input[type="checkbox"]  + label { font-weight:var(--font-w-r); color:var(--inactive); }

ul.radio-box input[type="radio"]:checked + label,
ul.check-box input[type="checkbox"]:checked  + label { font-weight: var(--font-w-b); color:var(--active); }

ul.radio-box>li,
ul.check-box>li{ display:flex; column-gap:10px; }

ul.radio-box input[type="radio"] { border:7.5px solid var(--border-inactive); background: var(--white); border-radius: 50%; }
ul.radio-box input[type="radio"]:checked { background:var(--white); border:7.5px solid var(--active); }

ul.check-box input[type="checkbox"]::before {
	content:''; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); width:13px; height:10px;
	background-color: var(--bg-color-c); -webkit-mask-image:var(--ico-check); -webkit-mask-repeat:no-repeat; -webkit-mask-size: auto 10px;
}

ul.check-box input[type="checkbox"] { border:2px solid var(--border-inactive); background:var(--bg-color-f); }
ul.check-box input[type="checkbox"]:checked { border:1px solid var(--active);  background-color: var(--active); }
ul.check-box input[type="checkbox"]:checked::before { background-color: var(--bg-color-f);  }
ul.check-box input[type="checkbox"]:disabled { background-color: var(--border-inactive);  }
ul.check-box input[type="checkbox"]:disabled::before { background-color: var(--bg-color-b); }

ul.radio-box input[type="radio"]:focus-visible,
ul.check-box input[type="checkbox"]:focus-visible,
div.toggle-box input[type="checkbox"]:focus-visible  { outline: 1px solid var(--active); }

/*---------------------------------------------
	#인풋 토글
---------------------------------------------*/
div.toggle-box input[type="checkbox"] { position: relative; display:inline-block; width:40px; height: 24px; border-radius: 12px;;  background:var(--border-inactive); border:1px solid var(--border-inactive); transition:all 0.3s ease; }
div.toggle-box input[type="checkbox"]:before { content:''; position:absolute; top:50%; left:3px; transform: translateY(-50%); width:18px; height:18px; border-radius: 50%; background: var(--bg-color-f); box-shadow:0px 2px 5px 0px rgba(23,4,61,0.2);  }

div.toggle-box input[type="checkbox"]:checked { background: var(--active); }
div.toggle-box input[type="checkbox"]:checked::before { left:auto; right:3px;}
