@charset "utf-8";

/** basic layout **/
body { overflow-y: auto; width:100%; height:100%; }
.wrap { display:flex; flex-direction: column; width:100%; height:auto; margin:0 auto; min-height:100vh; min-width: 320px; }
/* 컨텐츠 */
.contentWrap { display:flex; flex-direction: column; flex:1 1 auto; height:100%; }
.contentWrap,
.btmWrap { height:100%; }
.contentWrap { padding:0 20px; }
/* 헤더 높이 만클 마진 추가 */
.contentWrap { margin-top:60px; }
/* etc **추후에 삭제 예정 현재 작업중 */
.sub-desc { padding:20px 0; line-height:32px; color:var(--txt-color-1); }
.btm-btn-area { display:flex; justify-content: center; align-items: center; }
.btm-btn-area .btm-btn { background:gray; width:100%; height:56px; color:var(--txt-color-f); }
.exc-type { line-height: 80px; }
#footerWrap > footer { display:flex; align-items: center; justify-content: center; background: #3D3D3D; }
#footerWrap > footer > .inner { width:375px; height:auto; }

/** header **/
body {
    --ico-back:  url(../../../images/com/svg/ico_back.svg);
    --ico-menu:  url(../../../images/com/svg/ico_menu.svg);
    --ico-close: url(../../../images/com/svg/ico_close.svg);
}
#headerWrap { display:flex; width:100%; position: fixed; top:0; left:0; z-index:10; background-color: var(--bg-color-f); }
#headerWrap > header { position: relative; display:flex; justify-content: center; align-items: center; width:100%; height:60px; }

#headerWrap > header > .left,
.layerPopup .pop-header > header > .left,
#headerWrap > header > .right,
.layerPopup .pop-header > header > .right { position: absolute;}
#headerWrap > header > .left,
.layerPopup .pop-header > header > .left { left:10px; }
#headerWrap > header > .right,
.layerPopup .pop-header > header > .right { right:10px; }

/* 로고 */
#headerWrap > header h1.logo > a  { width:109px; height:auto; }
#headerWrap > header h1.logo > a > img { object-fit: contain; }
/* 헤더 _ 타이틀*/
#headerWrap > header h1.tit { font-size:var(--font-s-16); font-weight: var(--font-w-m); }
/* 헤더 _ 버튼*/
#headerWrap > header .btn { width:40px; height:40px; }
#headerWrap > header .btn.btn-menu { background: var(--ico-menu) no-repeat 100%/40px auto; }
#headerWrap > header .btn.btn-back { background: var(--ico-back) no-repeat 100%/40px auto; }
/* on 스크립트 / 뒤에 배경있을 경우 (transToWhite)*/
#headerWrap.on,
#headerWrap.transToWhite.on { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); background-color:var(--bg-color-f); }
#headerWrap.transToWhite { background-color: transparent; }

/** 팝업 **/
.layerPopup { z-index:10; display:none; flex-direction: column; position: fixed; top:0; left:0; background-color: var(--bg-color-f); overflow: hidden; width:100%; min-height:100vh; }
.layerPopup .pop-header { width:100%; height:auto; display:flex; width:100%; position: fixed; top:0; left:0; overflow: hidden; background-color: var(--bg-color-f); }
.layerPopup .pop-header > header { display:flex; justify-content:center; align-items:center; padding:0 10px; width:100%; height:60px; }
.layerPopup .pop-header > header .pop-tit{ font-size:var(--font-s-16); font-weight: var(--font-w-m); }
.layerPopup .pop-header > header .btn { width:40px; height:40px; }
.layerPopup .pop-header > header .btn.btn-back { background: var(--ico-back) no-repeat 100%/40px auto; }
.layerPopup .pop-header > header .btn.btn-close { background: var(--ico-close) no-repeat 100%/40px auto; }
.layerPopup .pop-con-wrap { width:auto; height:100%; flex:1 1 auto; margin-top:60px; padding:0 20px; overflow-y: auto; background-color: var(--bg-color-f); }
.layerPopup.on { display:flex !important; }/*스크립트 display:block; 방지*/
.layerPopup .pop-header.on { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }/*스크립트 스크롤*/
/* full 팝업 */
.layerPopup.full { height:100vh; }
/* bottom 팝업 */
.layerPopup.btmSheet { z-index:10; top:initial; bottom:0; min-height:auto; border-radius: 30px 30px 0 0; }
.layerPopup.btmSheet.on::before { content: ''; position:fixed; top:0; left:0; width:100%; height:100%; background: rgba(0, 0, 0, 0.5); z-index:-1;}
.layerPopup.btmSheet .pop-header { position: initial; }
.layerPopup.btmSheet .pop-con-wrap { margin-top: 0; padding:20px;  min-height:auto; }