@charset "utf-8";

/** basic layout **/
body { overflow-y: auto; width:100%; height:100%; }
.wrap { display:flex; flex-direction: column; width:100%; height:auto; margin:0 auto; min-height:100vh; min-width: 320px; }
/* 컨텐츠 */
.contentWrap { display:flex; flex-direction: column; flex:1 1 auto; height:100%; }
.contentWrap,
.btmWrap { height:100%; }
.contentWrap { padding:0 20px; }
/* 헤더 높이 만클 마진 추가 */
.contentWrap { margin-top:60px; }
.contentWrap.sub { margin-bottom: 20px; }
/* etc **추후에 삭제 예정 현재 작업중 */
.sub-desc { padding:20px 0; line-height:32px; color:var(--txt-color-1); }
.btm-btn-area { display:flex; justify-content: center; align-items: center; }
.btm-btn-area .btm-btn { background:gray; width:100%; height:56px; color:var(--txt-color-f); }
.layerPopup .btm-btn { background: var( --bg-color-emp-2); }
.exc-type { line-height: 80px; }
#footerWrap > footer { display:flex; align-items: center; justify-content: center; background: #3D3D3D; }
#footerWrap > footer > .inner { width:375px; height:auto; }


/** 헤더 **/
body {
    --ico-back:  url(../../../images/com/svg/ico_back.svg);
    --ico-menu:  url(../../../images/com/svg/ico_menu.svg);
    --ico-close: url(../../../images/com/svg/ico_close.svg);
}
#headerWrap { display:flex; width:100%; position: fixed; top:0; left:0; z-index:10; background-color: var(--bg-color-f); }
#headerWrap > header { position: relative; display:flex; justify-content: center; align-items: center; width:100%; height:60px; }
#headerWrap > header > .left,
#headerWrap > header > .right{ position: absolute;}
#headerWrap > header > .left { left:10px; }
#headerWrap > header > .right { right:10px; }

/* 헤더_로고 */
#headerWrap > header h1.logo > a  { width:109px; height:auto; }
#headerWrap > header h1.logo > a > img { object-fit: contain; }
/* 헤더_타이틀*/
#headerWrap > header h1.tit { font-size:var(--font-s-16); font-weight: var(--font-w-m); }
/* 헤더_버튼*/
#headerWrap > header .btn { width:40px; height:40px; }
#headerWrap > header .btn.btn-menu { background: var(--ico-menu) no-repeat 100%/40px auto; }
#headerWrap > header .btn.btn-back { background: var(--ico-back) no-repeat 100%/40px auto; }
/* 헤더_ on 스크립트 / 헤더까지 꽉 찬 배경 있을 경우 (transToWhite)*/
#headerWrap.on,
#headerWrap.transToWhite.on { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); background-color:var(--bg-color-f); }
#headerWrap.transToWhite { background-color: transparent; }


/** 팝업 **/
.layerPopup { z-index:10; display:none; flex-direction: column; position: fixed; top:0; left:0; background-color: var(--bg-color-f); width:100%; min-height:100vh; }
/* 팝업_헤더 */
.layerPopup .pop-header { width:100%; height:auto; display:flex; width:100%; position: fixed; top:0; left:0; background-color: var(--bg-color-f); display:flex; justify-content:center; align-items:center; width:100%; height:60px;}
.layerPopup .pop-header .left,
.layerPopup .pop-header .right { position: absolute; }
.layerPopup .pop-header .left { left:10px; }
.layerPopup .pop-header .right { right:10px; }
.layerPopup .pop-header .pop-tit { font-size:var(--font-s-16); font-weight: var(--font-w-m); }
.layerPopup .pop-header .btn { width:40px; height:40px; }
.layerPopup .pop-header .btn.btn-back { background: var(--ico-back) no-repeat 100%/40px auto; }
.layerPopup .pop-header .btn.btn-close { background: var(--ico-close) no-repeat 100%/40px auto; }
/* 팝업_콘텐츠 */
.layerPopup .pop-con-wrap { width:auto; flex:1 1 auto; padding:0 20px; overflow-y: auto; background-color: var(--bg-color-f); }
.layerPopup.on { display:flex !important; }/*스크립트 :: display:block; 방지*/
.layerPopup .pop-header.on { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }/*스크립트 :: 스크롤*/
/* 팝업_full */
.layerPopup.full { height:100dvh; }
.layerPopup.full .pop-con-wrap { margin-top:60px; }
/* 팝업_bottom */
.layerPopup.btmSheet { z-index:10; top:initial; bottom:0; min-height:auto; border-radius: 30px 30px 0 0; }
.layerPopup.btmSheet .pop-header .left { left:20px; }
.layerPopup.btmSheet.on::before,
.layerPopup.modal.on::before { content: ''; position:fixed; top:0; left:0; width:100%; height:100%; background: rgba(0, 0, 0, 0.5); z-index:-1;}/*dim*/
.layerPopup.btmSheet .pop-header { position: initial; }
.layerPopup.btmSheet .pop-con-wrap { padding:20px;  min-height:auto; }
/* 팝업_modal*/
.layerPopup.modal { min-height:initial; height:auto; position:initial; }
.layerPopup.modal .modal-wrap { position:absolute; height:auto; width:85%; top:50%; left:50%; transform: translate(-50%, -50%); border-radius: 10px; overflow: hidden; }
.layerPopup.modal .pop-tit { font-size:var(--font-s-16); font-weight: var(--font-w-b); padding-bottom:10px; }
.layerPopup.modal .pop-con-wrap { padding:50px 30px 40px 30px; }