@charset "UTF-8";

/* 모바일 폰트 사이즈 기준 [html::16px], 짝수 단위입니다.[짝수 단위로 할 경우 소수점 최대 3자리로 떨어집니다.] */
body{
    /* 폰트 size */
    --font12: 0.75rem;
    --font14: 0.875rem;
    --font16: 1rem;
    --font18: 1.125rem;
    --font20: 1.25rem;
    --font22: 1.375rem;
    --font24: 1.5rem;
    --font26: 1.625rem;
    --font28: 1.75rem;
    --font30: 1.875rem;
    --font32: 2rem;
    --font34: 2.125rem;
    --font36: 2.25rem;
    --font38: 2.375rem;
    --font40: 2.5rem;

     /* 폰트 weight */
    --font-w-b: 600;
    --font-w-m: 500;
    --font-w-r: 400;
    --font-w-l: 300;
}

body {

    /** 기본 색상 **/
    --color-primary: #005FCC;
    --color-secondary: #2E5AF4;

    --color-semantic-1: #FF0000;
    --color-semantic-2: #086CFD;
    --color-semantic-3: #FD9B22;
    --color-semantic-4: #00A2C4;

    /** 배경 기본 색상 **/
    --bg-color-primary:#1447A2;
    --bg-color-secondary:#F8F8F8;

    --bg-color-a: #AAAAAA;
    --bg-color-b: #BBBBBB;
    --bg-color-c: #CCCCCC;
    --bg-color-d: #DDDDDD;
    --bg-color-e: #EEEEEE;
    --bg-color-e-4: #E4E4E4;
    --bg-color-f: #FFFFFF;
    --bg-color-f-7: #F7F7FA;
    --bg-color-f-8: #F8F8F8;
    
    /** 텍스트 기본 색상 **/
    --txt-primary: #111111;
    --txt-secondary: #333333;

    --txt-color-1: #111111;
    --txt-color-2-4: #242424;
    --txt-color-3: #333333;
    --txt-color-4-5: #454545;
    --txt-color-5: #555555;
    --txt-color-6: #666666;
    --txt-color-7-5: #757575;
    --txt-color-8: #888888;
    --txt-color-9: #999999;
    --txt-color-C: #CCCCCC;
    --txt-color-f: #FFFFFF;

    /* 보더 기본 색상 */
    --border-primary: #1447A2;
    --border-secndary: #EEEEEE;

    --border-color-a:#AAAAAA;
    --border-color-b:#BBBBBB;
    --border-color-c:#CCCCCC;
    --border-color-d:#DDDDDD;
    --border-color-e:#EEEEEE;
    --border-color-f:#FFFFFF;

    --outline: #1447A2;
    --error: #FF0000;

    --dim: rgba(0, 0, 0, 0.5);

    /* 아이콘 색상 */
    --ipt-clear:#CCCCCC;
    --ipt-search:#999999;

    /* 인풋 */
    --ipt-label: #222222;
    --ipt-txt:#333333;
    --ipt-txt-active:#333333;
    --ipt-txt-inactive:#ABABAB;
    --ipt-txt-placeholder:#999999;
    --ipt-border: #CCCCCC;
    --ipt-border-active: #005FCC;
    --ipt-border-inactive:#CCCCCC;
    --ipt-bg-inactive:#F5F5F5;

    /* 라디오/체크박스 */
    --rc-txt:#333333;
    --rc-active: #005FCC;
    --rc-txt-inactive: #ABABAB;
    --rc-border:#767676;
    --rc-border-inactive:#CCCCCC;
    --rc-bg-inactive:#F5F5F5;

    /* 토글 */
    --toggle-bg: #DDDDDD;

    /* 커스텀 셀렉트 */
    --fk-se-ative: #EEF2F9;
    --fk-se-inactive:#DDDDDD;
    --fk-se-title: #333333;

    /* 아코디언 */
    --aco-tit: #555555;
    --aco-border:#DDDDDD;
    --aco-bg:#EEF2F9;

}