@charset "UTF-8";

.terms { display: flex; flex-direction: column; flex-wrap: initial;}

button.btn-primary {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
}

button:disabled.btn-primary {
    background: #ccc;
    cursor: not-allowed;
}
