<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>공통>인풋</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="공통keywords">
    <meta name="description" content="공통description">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
    <meta name="viewport" content="user-scalable=no,width=375">
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">

    <!-- 일반 Favicon 설정 -->
    <link rel="icon" type="image/png" href="../../assets/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../../assets/icons/favicon.svg" />
    <link rel="shortcut icon" href="../../assets/icons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/icons/apple-touch-icon.png" />
    <link rel="manifest" href="../../assets/icons/site.webmanifest" />

    <link rel="stylesheet" href="../../assets/css/lib/swiper-bundle.min.css" >
    <link rel="stylesheet" href="../../assets/css/ui/ui-util.css">
    <link rel="stylesheet" href="../../assets/css/ui/input.css">

    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/swiper-bundle.min.js"></script>
    <script type="module" src="../../assets/js/ui/ui-util.js"></script>
</head>

<body>
    
    <!-- S:wrap -->
    <div class="wrap">

        <!-- S:headerWrap -->
        <div id="headerWrap" class="headerOn"><!--[D] : headerOn 클래스 : 스크립트 적용 중-->
            <script>
                $(document).ready(function(){
                    $("#headerWrap").load("../include/inc_header.html");
                });
            </script>
        </div>
        <!-- E:headerWrap -->

        <!-- S:contentWrap -->
        <div class="contentWrap sub">
            
            <section class="tit">
                Input Radio/CheckBox/Toggle
            </section>

            <div class="form-group check">
                <ul class="check-box">
                    <li>
                        <input type="checkbox" id="check-1" name="checkbox">
                        <label for="check-1" class="check-button">
                            <span>Check Box OFF</span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="check-2" name="checkbox" checked="">
                        <label for="check-2" class="check-button">
                            <span>Check Box ON</span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="check-3" name="checkbox" disabled="">
                        <label for="check-3" class="check-button">
                            <span>Check Box Disabled</span>
                        </label>
                    </li>
                    
                </ul>
            </div>

            <div class="form-group radio">
                <ul class="radio-box">
                    <li>
                        <input type="radio" id="radio-1" name="radio">
                        <label for="radio-1" class="radio-button"><span>Radio Button1</span></label>
                    </li>
                    <li>
                        <input type="radio" id="radio-2" name="radio" checked="">
                        <label for="radio-2" class="radio-button"><span>Radio Button2</span></label>
                    </li>
                </ul>
            </div>

            <div class="form-group toggle">
                <div class="toggle-box">
                    <input type="checkbox" id="checkbox01" name="checkbox">
                    <label for="checkbox01" class="toggle-button"></label>
                </div>
            </div>


            <section class="tit">
                Input
            </section>

            <div class="form-group">
                <label for="">성명</label>
                <input id="" title="" type="text" name="" class="form-control" placeholder="성명">
            </div>
            
            <form id="myForm">
                <div class="form-wrap">
                    <div class="form-group">
                        <label for="email">Valid/inValid</label>
                        <input id="email" title="" type="text" name="" class="form-control" placeholder="Valid/inValid" required>
                        <div class="error">이메일은 필수입니다. 이메일을 올바르게 입력해 주세요</div>
                        <div class="valid">✓</div>
                    </div>

                    <div class="form-group">
                        <label for="password">Valid/inValid</label>
                        <input id="password" type="password" name="password" class="form-control" placeholder="Valid/inValid" required>
                        <div class="error">비밀번호는 필수입니다. 또한 8자리 이상이어야 합니다.</div>
                        <div class="valid">✓</div>
                    </div>
                    <input type="submit" value="가입하기">
                </div>
            </form>

            <div class="form-group">
                <label for="">Disabled</label>
                <input id="" title="" type="text" name="" class="form-control" placeholder="Disabled" disabled="">
            </div>

            <div class="forem-group">
                <label for="">Readonly</label>
                <input id="" title="" type="text" name="" class="form-control" placeholder="disabled" readonly=""/>
            </div>


            <section class="tit">
                Select
            </section>

        </div>
        <!-- E:contentWrap -->

        <!--S:btmWrap-->
        <div class="btmWrap">
            
            <div class="btm-btn-area">
                <button type="button" class="btm-btn app">지갑 만들기 </button>
            </div>

            <!-- s:footerWrap -->
            <div id="footerWrap">
                <script>
                    $(document).ready(function(){
                        $("#footerWrap").load("../include/inc_footer.html");
                    });
                </script>
            </div>
            <!-- e:footerWrap-->

        </div>
        <!--E:btmWrap-->

    </div>
    <!-- E:wrap -->

</body>
</html>