<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>공통>팝업</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="공통keywords">
    <meta name="description" content="공통description">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
    <meta name="viewport" content="user-scalable=no,width=375">
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">

    <!-- 일반 Favicon 설정 -->
    <link rel="icon" type="image/png" href="../../assets/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../../assets/icons/favicon.svg" />
    <link rel="shortcut icon" href="../../assets/icons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/icons/apple-touch-icon.png" />
    <link rel="manifest" href="../../assets/icons/site.webmanifest" />

    <link rel="stylesheet" href="../../assets/css/lib/swiper-bundle.min.css" >
    <link rel="stylesheet" href="../../assets/css/ui/ui-util.css">

    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/swiper-bundle.min.js"></script>
    <script type="module" src="../../assets/js/ui/ui-util.js"></script>
</head>

<body>
    
    <!-- S:wrap -->
    <div class="wrap">

        <!-- S:headerWrap -->
        <div id="headerWrap" class="headerOn"><!--[D] : headerOn 클래스 : 스크립트 적용 중-->
            <script>
                $(document).ready(function(){
                    $("#headerWrap").load("../include/inc_header.html");
                });
            </script>
        </div>
        <!-- E:headerWrap -->

        <!-- S:contentWrap -->
        <div class="contentWrap">
            <div class="contArea">
                <section class="tit">
                    [참고]
                </section>

                <p style="text-align: center; width:100%;">
                    <span style="font-size:16px; color:#3a80ac;">** modal(pop-header x , pop-tit o ) 제외 모든 팝업 레이아웃은 동일합니다.</span><br><br>
                    <span style="font-size:14px; color:#61addc;">[ layerPopup + ( full/ btmSheet/ modal/ full + allMenu ) 각 클래스 적용 필요합니다. ]</span>
                </p>

                <section class="tit">
                    layerPopup allmenu :: openMenu 메서드
                </section>

                <p style="text-align: center; width:100%;">
                    헤더 전체 메뉴 :: openMenu 메서드<br><br>
                </p>

                <section class="tit">
                    layerPopup full :: openPopup 메서드
                </section>
                

                <div class="btn-area">
                    <button type="button" class="btn btn-primary" onclick="openPopup('fullPopup')">fullPopup</button>
                </div>

                <div id="fullPopup" class="layerPopup full fullPopupOn"><!--[D] fullPopupOn 클래스 :: 헤더 스크립트 적용중-->
                    <div class="pop-header">
                        <button type="button" name="button" class="btn btn-back left"><span class="sr-only">뒤로가기</span></button>
                        <h2 class="pop-tit">풀팝업</h2>
                        <button type="button" name="button" class="btn btn-close right" onclick="closePopup('fullPopup')"><span class="sr-only">닫기</span></button>
                    </div>
                    <div class="pop-con-wrap">
                        <div class="sub-desc">
                            <p class="desc">
                                14 ARS 인증을 위한 전화를 걸고 있습니다.<br>
                                전화를 받은 후 <b>자동 출금이체 동의를 위한 승인번호</b>를 눌러주시기 바랍니다.
                            </p>
                            <p class="desc">
                                고객님께 ARS 인증을 위한 전화를 걸고 있습니다.<br>
                                전화를 받은 후 <b>자동 출금이체 동의를 위한 승인번호</b>를 눌러주시기 바랍니다.
                            </p>
                            <p class="desc">
                                고객님께 ARS 인증을 위한 전화를 걸고 있습니다.<br>
                                전화를 받은 후 <b>자동 출금이체 동의를 위한 승인번호</b>를 눌러주시기 바랍니다.
                            </p>
                            <p class="desc">
                                고객님께 ARS 인증을 위한 전화를 걸고 있습니다.<br>
                                전화를 받은 후 <b>자동 출금이체 동의를 위한 승인번호</b>를 눌러주시기 바랍니다.
                            </p>
                            <p class="desc">
                                고객님께 ARS 인증을 위한 전화를 걸고 pu있습니다.<br>
                                전화를 받은 후 <b>자동 출금이체 동의를 위한 승인번호</b>를 눌러주시기 바랍니다.
                            </p>
                            <p class="desc">
                                고객님께 ARS 인증을 위한 전화를 걸고 있습니다.<br>
                                전화를 받은 후 <b>자동 출금이체 동의를 위한 승인번호</b>를 눌러주시기 바랍니다.
                            </p>
                        </div>
                    </div>
                    <div class="pop-btm-wrap">
                        <div class="btm-btn-area">
                            <button type="button" class="btn btn-primary" onclick="closePopup('fullPopup')">14 만들기 </button>
                            <button type="button" class="btn btn-primary" onclick="closePopup('fullPopup')">지갑 만들기 </button>
                        </div>
                    </div>
                </div>

                <section class="tit">
                    layerPopup btmSheet :: openPopup 메서드
                </section>

                <div class="btn-area">
                    <button type="button" class="btn btn-primary" onclick="openPopup('btmSheetPopup')">btmSheetPopup</button>
                </div>

                <div id="btmSheetPopup" class="layerPopup btmSheet">
                    <div class="pop-header popHeader">
                        <h2 class="pop-tit left">바텀시트</h2>
                        <button type="button" name="button" class="btn btn-close right" onclick="closePopup('btmSheetPopup')"><span class="sr-only">닫기</span></button>
                    </div>
                    <div class="pop-con-wrap">
                        바텀시트 컨텐츠 영역입니다.
                    </div>
                    <div class="pop-btm-wrap">
                        <div class="btm-btn-area">
                            <button type="button" class="btn btn-primary" onclick="closePopup('btmSheetPopup')">지갑 만들기 </button>
                            <button type="button" class="btn btn-primary"  onclick="closePopup('btmSheetPopup')">지갑 만들기 </button>
                        </div>
                    </div>
                </div>

                <section class="tit">
                    layerPopup modal :: openModal 메서드
                </section>

                <div class="btn-area">
                    <button type="button" class="btn btn-primary" onclick="openModal('modal')">modal</button>
                </div>
                
                <div id="modal" class="layerPopup modal">
                    <div class="modal-wrap">
                        <div class="pop-con-wrap">
                            <h2 class="pop-tit">모달</h2>
                            모달 컨텐츠 영역입니다.
                        </div>
                        <div class="pop-btm-wrap">
                            <div class="btm-btn-area">
                                <button type="button" class="btn btn-primary" onclick="closePopup('modal')">닫기</button>
                                <button type="button" class="btn btn-primary" onclick="closePopup('modal')">확인</button>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="tit">
                    Test.Ver1
                </section>

                <div class="btn-area">
                    <button type="button" class="btn btn-primary"onclick="openPopup('samplePopup')">Test.Ver1</button>
                </div>

                <div id="samplePopup" class="layerPopup full">
                    <div class="pop-header popHeader">
                        <button type="button" name="button" class="btn btn-back left"><span class="sr-only">뒤로가기</span></button>
                        <h2 class="pop-tit">샘플 팝업</h2>
                        <button type="button" name="button" class="btn btn-close right" onclick="closePopup('samplePopup')"><span class="sr-only">닫기</span></button>
                    </div>
                    <div class="pop-con-wrap">
                        샘플 팝업 컨텐츠 영역입니다.
                    </div>
                    <div class="pop-btm-wrap">
                        <div class="btm-btn-area">
                            <button type="button" class="btn btn-primary" onclick="openModal('modal_2')">지갑 만들기 </button>
                            <button type="button" class="btn btn-primary" onclick="openModal('modal_2')">지갑 만들기 </button>
                        </div>
                    </div>
                </div>

                <div id="modal_2" class="layerPopup modal">
                    <div class="modal-wrap">
                        <div class="pop-con-wrap">
                            <h2 class="pop-tit">샘플 모달 팝업</h2>
                            샘플 모달 팝업 컨텐츠 영역입니다.
                        </div>
                        <div class="pop-btm-wrap">
                            <div class="btm-btn-area">
                                <button type="button" class="btn btn-primary" onclick="closePopup('modal_2')">닫기</button>
                                <button type="button" class="btn btn-primary" onclick="closePopup('modal_2')">확인</button>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="tit">
                    Test.Ver2
                </section>
                
                <div class="btn-area">
                    <button type="button" class="btn btn-primary" onclick="openPopup('samplePopup_2')">Test.Ver2</button>
                </div>

                <div id="samplePopup_2" class="layerPopup full">
                    <div class="pop-header popHeader">
                        <button type="button" name="button" class="btn btn-back left"><span class="sr-only">뒤로가기</span></button>
                        <h2 class="pop-tit">샘플 팝업</h2>
                        <button type="button" name="button" class="btn btn-close right" onclick="closePopup('samplePopup_2')"><span class="sr-only">닫기</span></button>
                    </div>
                    <div class="pop-con-wrap">
                        샘플 팝업 컨텐츠 영역입니다.
                    </div>
                    <div class="pop-btm-wrap">
                        <div class="btm-btn-area">
                            <button type="button" class="btn btn-primary" onclick="openPopup('btmSheetPopup_2')">지갑 만들기 </button>
                            <button type="button" class="btn btn-primary" onclick="openPopup('btmSheetPopup_2')">지갑 만들기 </button>
                        </div>
                    </div>
                </div>

                <div id="btmSheetPopup_2" class="layerPopup btmSheet">
                    <div class="pop-header popHeader">
                        <h2 class="pop-tit left">바텀시트</h2>
                        <button type="button" name="button" class="btn btn-close right" onclick="closePopup('btmSheetPopup_2')"><span class="sr-only">닫기</span></button>
                    </div>
                    <div class="pop-con-wrap">
                        바텀시트 컨텐츠 영역입니다.
                    </div>
                    <div class="pop-btm-wrap">
                        <div class="btm-btn-area">
                            <button type="button" class="btn btn-primary" onclick="openModal('modal_3')">지갑 만들기 </button>
                            <button type="button" class="btn btn-primary"  onclick="openModal('modal_3')">지갑 만들기 </button>
                        </div>
                    </div>
                </div>

                
                <div id="modal_3" class="layerPopup modal">
                    <div class="modal-wrap">
                        <div class="pop-con-wrap">
                            <h2 class="pop-tit">샘플 모달 팝업</h2>
                            샘플 모달 팝업 컨텐츠 영역입니다.
                        </div>
                        <div class="pop-btm-wrap">
                            <div class="btm-btn-area">
                                <button type="button" class="btn btn-primary" onclick="closePopup('modal_3')">닫기</button>
                                <button type="button" class="btn btn-primary" onclick="closePopup('modal_3')">확인</button>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="tit">
                    Test.Ver3
                </section>

                <div class="btn-area">
                    <button type="button" class="btn btn-primary" onclick="openPopup('samplePopup_3')">Test.Ver3</button>
                </div>

                <div id="samplePopup_3" class="layerPopup full">
                    <div class="pop-header popHeader">
                        <button type="button" name="button" class="btn btn-back left"><span class="sr-only">뒤로가기</span></button>
                        <h2 class="pop-tit">샘플 팝업</h2>
                        <button type="button" name="button" class="btn btn-close right" onclick="closePopup('samplePopup_3')"><span class="sr-only">닫기</span></button>
                    </div>
                    <div class="pop-con-wrap">
                        <div id="select01" class="se-select" data-stove="select" data-uicase="slide">
                            <div class="e-hidden-title">option hidden title</div>
                            <select required="" title="">
                                <option value="" hidden="">default</option>
                                <option value="0">option 00</option>
                                <option value="1">option 01</option>
                                <option value="2">option 02</option>
                                <option value="3" disabled="">option 03</option>
                                <option value="4" disabled="">option 04</option>
                                <option value="9">option 09</option>
                                <option value="10">option 10</option>
                            </select>
                        </div>
                    </div>
                    <div class="pop-btm-wrap">
                        <div class="btm-btn-area">
                            <button type="button" class="btn btn-primary" onclick="openPopup('btmSheetPopup_3')">지갑 만들기 </button>
                            <button type="button" class="btn btn-primary" onclick="openPopup('btmSheetPopup_3')">지갑 만들기 </button>
                        </div>
                    </div>
                </div>

                <div id="btmSheetPopup_3" class="layerPopup btmSheet">
                    <div class="pop-header popHeader">
                        <h2 class="pop-tit left">바텀시트</h2>
                        <button type="button" name="button" class="btn btn-close right" onclick="closePopup('btmSheetPopup_3')"><span class="sr-only">닫기</span></button>
                    </div>
                    <div class="pop-con-wrap">
                        바텀시트 컨텐츠 영역입니다.
                    </div>
                    <div class="pop-btm-wrap">
                        <div class="btm-btn-area">
                            <button type="button" class="btn btn-primary" onclick="openModal('modal_4')">지갑 만들기 </button>
                            <button type="button" class="btn btn-primary"  onclick="openModal('modal_4')">지갑 만들기 </button>
                        </div>
                    </div>
                </div>

                <div id="modal_4" class="layerPopup modal">
                    <div class="modal-wrap">
                        <div class="pop-con-wrap">
                            <h2 class="pop-tit">샘플 모달 팝업</h2>
                            샘플 모달 팝업 컨텐츠 영역입니다.
                        </div>
                        <div class="pop-btm-wrap">
                            <div class="btm-btn-area">
                                <button type="button" class="btn btn-primary" onclick="closePopup('modal_4')">닫기</button>
                                <button type="button" class="btn btn-primary" onclick="closePopup('modal_4')">확인</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- E:contentWrap -->

        <!--S:btmWrap-->
        <div class="btmWrap">
            
            <div class="btm-btn-area">
                <button type="button" class="btn btn-secondary">팝업</button>
                <button type="button" class="btn btn-primary">팝업</button>
            </div>

            <!-- s:footerWrap -->
            <div id="footerWrap">
                <script>
                    $(document).ready(function(){
                        $("#footerWrap").load("../include/inc_footer.html");
                    });
                </script>
            </div>
            <!-- e:footerWrap-->

        </div>
        <!--E:btmWrap-->

    </div>
    <!-- E:wrap -->
</body>
</html>