<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>공통>레이아웃</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="공통keywords">
    <meta name="description" content="공통description">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
    <meta name="viewport" content="user-scalable=no,width=375">
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">

    <!-- 일반 Favicon 설정 -->
    <link rel="icon" type="image/png" href="../../assets/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../../assets/icons/favicon.svg" />
    <link rel="shortcut icon" href="../../assets/icons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/icons/apple-touch-icon.png" />
    <link rel="manifest" href="../../assets/icons/site.webmanifest" />

    <link href="../../assets/css/lib/swiper-bundle.min.css" rel="stylesheet">
    <link href="../../assets/css/ui/ui-basic.css" rel="stylesheet">

    <script src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script src="../../assets/js/lib/swiper-bundle.min.js"></script>
    <script src="../../assets/js/ui/header.js"></script>
    <script src="../../assets/js/ui/popup.js"></script>
</head>
<style>
    /* tit 삭제 */
    div > .tit { display: flex; align-items: center; padding: 20px 0 40px; text-align: center; color: var( --txt-color-9); font-size: var(--font-s-14); font-weight: var(--font-w-m);}
    div > .tit::before { content: ""; flex: 1; border: 1px solid var(--border-color-d); margin-right: 30px;}
    div > .tit::after { content: ""; flex: 1; border: 1px solid var(--border-color-d); margin-left: 30px;}
    .btn-etc { width:100%; height:60px; border-radius: 10px; background: var(--color-secondary); color:var(--bg-color-f); }
</style>
<body>
    
    <!-- S:wrap -->
    <div class="wrap">

        <!-- S:headerWrap -->
        <div id="headerWrap" class="headerOn"><!--[D] : headerOn 클래스 : 스크립트 적용 중-->
            <script>
                $(document).ready(function(){
                    $("#headerWrap").load("../include/inc_header.html");
                });
            </script>
        </div>
        <!-- E:headerWrap -->

        <!-- S:contentWrap -->
        <div class="contentWrap sub">
            <section class="tit">
                layerPopup full
            </section>
            <button type="button" class="btn-etc" onclick="openPopup('fullPopup')">fullPopup</button>

            <div id="fullPopup" class="layerPopup full">
                <div class="pop-header popHeader">
                    <button type="button" name="button" class="btn btn-back left"><span class="sr-only">뒤로가기</span></button>
                    <h2 class="pop-tit">풀팝업</h2>
                    <button type="button" name="button" class="btn btn-close right" onclick="closePopup('fullPopup')"><span class="sr-only">닫기</span></button>
                </div>
                <div class="pop-con-wrap">
                    풀팝업 컨텐츠 영역입니다.
                </div>
                <div class="pop-btm-wrap">
                    <div class="btm-btn-area">
                        <button type="button" class="btm-btn" onclick="closePopup('fullPopup')">지갑 만들기 </button>
                        <button type="button" class="btm-btn" onclick="closePopup('fullPopup')">지갑 만들기 </button>
                    </div>
                </div>
            </div>

            <section class="tit">
                layerPopup btmSheet
            </section>

            <button type="button" class="btn-etc" onclick="openPopup('btmSheetPopup')">btmSheetPopup</button>

            <div id="btmSheetPopup" class="layerPopup btmSheet">
                <div class="pop-header popHeader">
                    <h2 class="pop-tit left">바텀시트</h2>
                    <button type="button" name="button" class="btn btn-close right" onclick="closePopup('btmSheetPopup')"><span class="sr-only">닫기</span></button>
                </div>
                <div class="pop-con-wrap">
                    바텀시트 컨텐츠 영역입니다.
                </div>
                <div class="pop-btm-wrap">
                    <div class="btm-btn-area">
                        <button type="button" class="btm-btn" onclick="closePopup('btmSheetPopup')">지갑 만들기 </button>
                        <button type="button" class="btm-btn"  onclick="closePopup('btmSheetPopup')">지갑 만들기 </button>
                    </div>
                </div>
            </div>

            <section class="tit">
                layerPopup modal
            </section>

            <button type="button" class="btn-etc" onclick="openPopup('modalPopup')">modalPopup</button>

            
            <div id="modalPopup" class="layerPopup modal">
                <div class="modal-wrap">
                    <div class="pop-con-wrap">
                        <h2 class="pop-tit">모달</h2>
                        모달 컨텐츠 영역입니다.
                    </div>
                    <div class="pop-btm-wrap">
                        <div class="btm-btn-area">
                            <button type="button" class="btm-btn" onclick="closePopup('modalPopup')">닫기</button>
                            <button type="button" class="btm-btn" onclick="closePopup('modalPopup')">확인</button>
                        </div>
                    </div>
                </div>
            </div>

            <section class="tit">
                sample
            </section>

            <button type="button" class="btn-etc" onclick="openPopup('samplePopup')">sample</button>

            <div id="samplePopup" class="layerPopup full">
                <div class="pop-header popHeader">
                    <button type="button" name="button" class="btn btn-back left"><span class="sr-only">뒤로가기</span></button>
                    <h2 class="pop-tit">샘플 팝업</h2>
                    <button type="button" name="button" class="btn btn-close right" onclick="closePopup('samplePopup')"><span class="sr-only">닫기</span></button>
                </div>
                <div class="pop-con-wrap">
                    샘플 팝업 컨텐츠 영역입니다.
                </div>
                <div class="pop-btm-wrap">
                    <div class="btm-btn-area">
                        <button type="button" class="btm-btn" onclick="openPopup('sampleModalPopup')">지갑 만들기 </button>
                        <button type="button" class="btm-btn" onclick="openPopup('sampleModalPopup')">지갑 만들기 </button>
                    </div>
                </div>
            </div>

            <div id="sampleModalPopup" class="layerPopup modal">
                <div class="modal-wrap">
                    <div class="pop-con-wrap">
                        <h2 class="pop-tit">샘플 모달 팝업</h2>
                        샘플 모달 팝업 컨텐츠 영역입니다.
                    </div>
                    <div class="pop-btm-wrap">
                        <div class="btm-btn-area">
                            <button type="button" class="btm-btn" onclick="closePopup('sampleModalPopup')">닫기</button>
                            <button type="button" class="btm-btn" onclick="closePopup('sampleModalPopup')">확인</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- E:contentWrap -->

        <!--S:btmWrap-->
        <div class="btmWrap">
            
            <div class="btm-btn-area">
                <button type="button" class="btm-btn app">지갑 만들기 </button>
            </div>

            <!-- s:footerWrap -->
            <div id="footerWrap">
                <script>
                    $(document).ready(function(){
                        $("#footerWrap").load("../include/inc_footer.html");
                    });
                </script>
            </div>
            <!-- e:footerWrap-->

        </div>
        <!--E:btmWrap-->

    </div>
    <!-- E:wrap -->
</body>
</html>