<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>공통>탭</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="공통keywords">
    <meta name="description" content="공통description">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
    <meta name="viewport" content="user-scalable=no,width=375">
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">

    <!-- 일반 Favicon 설정 -->
    <link rel="icon" type="image/png" href="../../assets/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../../assets/icons/favicon.svg" />
    <link rel="shortcut icon" href="../../assets/icons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/icons/apple-touch-icon.png" />
    <link rel="manifest" href="../../assets/icons/site.webmanifest" />

    <link rel="stylesheet" href="../../assets/css/lib/swiper-bundle.min.css" >
    <link rel="stylesheet" href="../../assets/css/ui/ui-util.css">

    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/swiper-bundle.min.js"></script>
    <script type="module" src="../../assets/js/ui/ui-util.js"></script>
</head>

<body>
    
    <!-- S:wrap -->
    <div class="wrap">

        <!-- S:headerWrap -->
        <div id="headerWrap" class="headerOn"><!--[D] : headerOn 클래스 : 스크립트 적용 중-->
            <script>
                $(document).ready(function(){
                    $("#headerWrap").load("../include/inc_header.html");
                });
            </script>
        </div>
        <!-- E:headerWrap -->

        <!-- S:contentWrap -->
        <div class="contentWrap sub">
            <section class="tit">
                Tab.Ver1 [스크립트]
            </section>

            <div class="tab-container jsTab"><!--[D] jsTab 클래스 :: 스크립트-->
                <ul class="tab-list">
                    <li class="tab-item active" data-tab="tab1" title="선택됨">탭 1</li>
                    <li class="tab-item" data-tab="tab2">탭 2</li>
                    <li class="tab-item" data-tab="tab3">탭 3</li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-panel active">
                        <p>탭 1의 내용</p>
                        <!-- 탭 안에 탭 (중첩 탭) -->
                        <div class="nested-tab-container nestedJsTab"><!--[D] nestedJsTab 클래스 :: 스크립트-->
                            <ul class="nested-tab-list">
                                <li class="nested-tab-item active" data-tab="nested1" title="선택됨">서브 탭 1</li>
                                <li class="nested-tab-item" data-tab="nested2">서브 탭 2</li>
                            </ul>
                            <div class="nested-tab-content">
                                <div id="nested1" class="nested-tab-panel active">
                                    <p>서브 탭 1의 내용</p>
                                </div>
                                <div id="nested2" class="nested-tab-panel">
                                    <p>서브 탭 2의 내용</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab-panel">
                        <p>탭 2의 내용</p>
                    </div>
                    <div id="tab3" class="tab-panel">
                        <p>탭 3의 내용</p>
                    </div>
                </div>
            </div>
            
            <section class="tit">
                Tab Test
            </section>

            <div class="tab-container jsTab">
                <ul class="tab-list">
                    <li class="tab-item active" data-tab="tab1_1" title="선택됨">탭 1</li>
                    <li class="tab-item" data-tab="tab2_2">탭 2</li>
                    <li class="tab-item" data-tab="tab3_3">탭 3</li>
                </ul>
                <div class="tab-content">
                    <div id="tab1_1" class="tab-panel active">
                        <p>탭 1의 내용</p>
                        <!-- 탭 안에 탭 (중첩 탭) -->
                        <div class="nested-tab-container nestedJsTab">
                            <ul class="nested-tab-list">
                                <li class="nested-tab-item active" data-tab="nested1_1" title="선택됨">서브 탭 1</li>
                                <li class="nested-tab-item" data-tab="nested2_2">서브 탭 2</li>
                            </ul>
                            <div class="nested-tab-content">
                                <div id="nested1_1" class="nested-tab-panel active">
                                    <p>서브 탭 1의 내용</p>
                                </div>
                                <div id="nested2_2" class="nested-tab-panel">
                                    <p>서브 탭 2의 내용</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab2_2" class="tab-panel">
                        <p>탭 2의 내용</p>
                    </div>
                    <div id="tab3_3" class="tab-panel">
                        <p>탭 3의 내용</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- E:contentWrap -->

        <!--S:btmWrap-->
        <div class="btmWrap">
            
            <div class="btm-btn-area">
                <button type="button" class="btm-btn">탭</button>
            </div>

            <!-- s:footerWrap -->
            <div id="footerWrap">
                <script>
                    $(document).ready(function(){
                        $("#footerWrap").load("../include/inc_footer.html");
                    });
                </script>
            </div>
            <!-- e:footerWrap-->

        </div>
        <!--E:btmWrap-->

    </div>
    <!-- E:wrap -->

</body>
</html>