<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table</title>
    <link rel="stylesheet" href="/root/mobile/assets/css/ui/table.css">
</head>
<body>
    <div class="wrap">
        <form>
            <div class="contents-wrap">

                <!-- //table-type 1 -->
                <section class="tit">
                    table-type 1
                </section>

                <div class="table-type1">
                    <table>
                        <caption></caption>
                        <colgroup>
                            <col width="50%">
                            <col width="50%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="row">항목</th>
                                <th scope="row">항목</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>내용</td>
                                <td>내용</td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td>내용</td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td>내용</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- //table-type 2 -->
                <section class="tit">
                    table-type 2
                </section>

                <div class="table-type2">
                    <div class="col">
                        <dl>
                            <dt>항목</dt>
                            <dd>
                                <span>내용</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>항목</dt>
                            <dd>
                                <span>내용</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>항목</dt>
                            <dd>
                                <span>내용</span>
                            </dd>
                        </dl>
                    </div>
                </div>

                <!-- //table-type 3 -->
                <section class="tit">
                    table-type 3
                </section>

                <div class="table-type3">
                    <table>
                        <caption></caption>
                        <colgroup>
                        <col width="50%">
                        <col width="25%">
                        <col width="25%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th rowspan="2" scope="row" style="border-left: none;">항목</th>
                                <th colspan="2" scope="row">항목</th>
                            </tr>
                            <tr>
                                <th scope="row">항목</th>
                                <th scope="row">항목</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- //table-type scroll -->
                <section class="tit">
                    table-type Scroll
                </section>

                <div class="table-wrap">
                    <table>
                        <caption></caption>
                        <colgroup>
                        <col width="15%">
                        <col width="15%">
                        <col width="15%">
                        <col width="15%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="row">항목</th>
                                <th scope="row">항목</th>
                                <th scope="row">항목</th>
                                <th scope="row">항목</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- //table-type title -->
                <section class="tit">
                    tit/cap
                </section>

                <div class="table-type1">
                    <div class="table-tit">
                        <h4>
                            타이틀 내용이 들어갑니다.
                        </h4>
                    </div>
                    <table>
                        <caption></caption>
                        <colgroup>
                            <col width="30%">
                            <col width="70%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="row">항목</th>
                                <th scope="row">항목</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>내용</td>
                                <td>내용</td>
                            </tr>
                    </table>
                    <div class="table-caption">
                        <p>※ 내용을 입력해 주세요.</p>
                    </div>
                </div>
                <!-- table-type 1-2// -->

                </div>
            </div>
        </form>
    </div>
</body>
</html>